*{
    
}
:root {
    --azul: rgb(57, 148, 252);
    --laranja: rgb(255, 72, 0);
    --vermelho: rgb(252, 57, 57);
    --corfundo: rgba(153, 152, 152, 0.073);
    --fontbase: 1.3em;
    --fontgrande: 2em;
}

.jogo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--corfundo);
    
    
}


.jogo-area{
    width: 70vw;
    padding: 1em;
    line-height: 20px;
    border: solid 2px var(--azul);
    border-radius: 25px;
}

.jogo-titulo{
    font-size: var(--fontgrande);
    color: var(--azul);
    font-weight: bold;
}

.jogo-contador{
    font-size: var(--fontbase);
    color: var(--vermelho);
    font-weight: bold;
}


.area-input{
    width: 90%;
    padding: 1em;
    box-sizing: border-box;
    font-size: var(--fontbase);
    border-radius: 5px;
    text-align: center;
    border: solid 2px var(--azul);
}

.area-botao {
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.botao {
    width: 200px;
    font-size: var(--fontbase);
    margin: 10px;
    padding: 0.5em;
    box-sizing: border-box;
    color: var(--laranja);
    background-color: rgb(250, 228, 215);
    border: 2px solid var(--azul);
    border-radius: 10px;
}

.jogo-texto{
    font-size: var(--fontbase);
    color: var(--laranja);
}

.jogo-resposta{
    font-size: var(--fontgrande);
    color: var(--vermelho);
}

